.c-app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #2c3e50

.c-link
  color #13255682
  cursor pointer
  -webkit-tap-highlight-color transparent
  user-select none
  &:focus
    outline none
[data-theme="dark"]
  .c-link
    color #e1e1e1
  body
    background #292929
  .c-app
    color #ffffffb3